{% extends "layout.html" %}

{% block content %}
  {% if successful_upload %}
    <p>Carga exitosa</p>
    <a>Si quieres cargar otra imagen da click <a href="/upload">aquí</a>
  {% else %}
    <h2>Carga una imagen</h2>
    <input type="file" name="picture" accept="image/*">
    <!-- <form method="POST" action="/upload" enctype="multipart/form-data"> -->
      <!-- <label for="picture">Selecciona una imagen</label>
      
      <button type="submit">Cargar</button>
    </form> -->
    <!-- <h1>PRUEBA</h1> -->
    <!-- <img src="{{url}}"> PRUEBA</img> --->
  {% endif %}
{% endblock %}

